.ba-section-spain1 {
	background: $primary-color url(../img/spain1.jpg) no-repeat;
	background-size: cover;
	min-height: 100vh;
	background-attachment: fixed;
	color: #fff;
	
	div{
		position: absolute;
		width: 540px;
		height: 371px;
		background-color: #232323;
		opacity: 0.9;
	}
 }